.f-container {
  display: flex;
  justify-content: center;

  column-gap: 190px;
  background-color: #f7c8e0;
}

@media screen and (max-width: 600px) {
  .f-container {
    display: flex;
    flex-direction: column;
    width: 600px;
  }
}
